<%= form_tag trip_url(@trip), class: "form-signin", method: 'patch' do %>

    <h2>Trip Name</h2>

    <%= text_field_tag :trip_name, @trip.trip_name, class: "input-block-level" %>

    <%= hidden_field_tag :userid, current_user.id %>
    <div>
      <%= submit_tag "Update Trip", class:"btn btn-large btn-success" %>
    </div>

<% end %>
