
<div class="hero-unit">
  <h1>Welcome to TripWebsite!</h1>
  <div class = "tagline">A simple, easy way to collect and organize trip recommendations from your family, friends, and colleagues.  No more email. No more stressing trying to remember recommendations from conversation.</div>
    <div class = "benefits">1.  Post your trip</div>
    <div class = "benefits">2.  Let your network know you need recommendations</div>
    <div class = "benefits">3.  Sit back, relax, and watch the recommendations come</div>
    <div class = "benefits">4.  Print the recommendations for your trip all from ONE spot</div>
  <p>
    <a class="btn btn-primary btn-large">
     Sign Up
    </a>
  </p>
</div>

