
<div class="hero-unit marginin">
  <h1>Welcome to TripRecs!</h1>
  <div class = "tagline">A simple, easy way to collect and organize trip recommendations from your family, friends, and colleagues.  No more email. No more stressing trying to remember recommendations from conversation.</div>
    <div class = "benefits">1.  Post your trip</div>
    <div class = "benefits">2.  Let your network know you need recommendations</div>
    <div class = "benefits">3.  Sit back, relax, and watch the recommendations come</div>


    <%= link_to "SIGN UP", new_user_url, class:"btn btn-success btn-large" %>

  </br>
</br>
</br>
  <h4>Already a member?</h4>
  <%= link_to "SIGN IN", login_url, class:"btn btn-primary" %>

</div>

