<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to TrekRecs, <%= @user.first_name.capitalize %>!</h1>
    <p>
      You have successfully signed up to trekrecs.com.<br/>
    </p>
    <p>The easiest place to collect and organize trip recommendations.</p>
  </body>
</html>
