<h1>Comment #<%= @comment.id %></h1>

<p>
  <b>Recommendation:</b>
  <%= @comment.recommendation %>
</p>

<p>
  <b>Trip detail:</b>
  <%= @comment.trip_detail_id %>
</p>

<p>
  <b>User:</b>
  <%= @comment.user_id %>
</p>


