<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Someone gave you a recommendation for your upcoming trip, <%= @tripowner.first_name.capitalize %>!</h1></br>

    <p>Check out your new recommendation at trekrecs.com.</p>
  </body>
</html>
