<h1>Trip Detail #<%= @trip_detail.id %></h1>

<p>
  <b>City or region:</b>
  <%= @trip_detail.city_or_region %>
</p>

<p>
  <b>Recommendation needs:</b>
  <%= @trip_detail.recommendation_needs %>
</p>

<p>
  <b>Trip:</b>
  <%= @trip_detail.trip_id %>
</p>


